@import"normalize";

@mixin font($font_name, $file_name, $weight, $style) {

	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"),
		url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts";




body {
	font-size: 30px;

	h2 {
		font-size: 30px;
	}

	display: flex;

	span {
		font-size: 20px;

		@media (max-width:767px) {
			font-size: 15px;
		}
	}

	div {
		font-size: 30px;

		@media (max-width:767px) {
			font-size: 20px;
		}
	}
}

header {
	width: 100%;
}

.container {
	width: 1130px;
	margin: 0 auto;

}

ul {
	list-style: none;
}

.header__logo {
	display: flex;
	flex-direction: column;
	max-width: 230px;

	p {
		font-family: 'HelveticaNeueCyr-Thin';
		font-weight: 100;
		font-size: 11px;
		line-height: 9px;
		margin: 0 0 0 40px;
		padding: 0;
	}
}

.header__body {
	display: flex;

	.header__menu {
		padding-top: 15px;

		ul {
			display: flex;
			font-size: 14px;
			font-family: 'HelveticaNeueCyr-Thin';
			font-weight: 100;

			li {
				margin-right: 35px;
				margin-bottom: 2px;
				a {
					color: #363636;
					text-decoration: none;
					
					font-size: 14px;

					&::after {
						content: "";
						width: 100%;
						height: 2px;
						display: none;
						background-color: #78b660;
						transition: all .3s;
					}

					&:hover {
						&::after {
							display: block;
						}
					}
				}
			}
		}
	}
}


.header__phone {
	max-width: 155px;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	text-align: right;
	color: #363636;
	font-family: 'HelveticaNeueCyr-Roman';
	font-weight: 500;
	justify-content: center;
	line-height: 15px;
	span {
		font-size: 18px;
	}
}
.servises{
	display: none;
	position: absolute;
	width: 260px;
	width: 100%;
	height: 205px;
}
.dermatolog{
	display: none;
	position: absolute;
}